button{
    background: blueviolet;
    color: #fff;
    font-size: 24px;
    border-radius: 8px;
    width: 100px;
    margin-left: 20px;
    height: 35px;
}

input{
    background: #fff;
    color: black;
    font-size: 16px;
    font-weight: 400;
    height: 35px;
    border-radius: 8px;
    margin-left: 10px;
}